--
-- PostgreSQL database dump
--

\restrict hGjBFbUWqat1AVYRNc1xOwuOJPXv17VtINSAWAJksejEg2B8isvYdjeMo1FakKL

-- Dumped from database version 16.12 (Debian 16.12-1.pgdg13+1)
-- Dumped by pg_dump version 16.12 (Debian 16.12-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: citext; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS citext WITH SCHEMA public;


--
-- Name: EXTENSION citext; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION citext IS 'data type for case-insensitive character strings';


--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: access_event_types; Type: TABLE; Schema: public; Owner: kin
--

CREATE TABLE public.access_event_types (
    id smallint NOT NULL,
    code text NOT NULL,
    name text NOT NULL
);


ALTER TABLE public.access_event_types OWNER TO kin;

--
-- Name: access_result_types; Type: TABLE; Schema: public; Owner: kin
--

CREATE TABLE public.access_result_types (
    id smallint NOT NULL,
    code text NOT NULL,
    name text NOT NULL
);


ALTER TABLE public.access_result_types OWNER TO kin;

--
-- Name: pgmigrations; Type: TABLE; Schema: public; Owner: kin
--

CREATE TABLE public.pgmigrations (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    run_on timestamp without time zone NOT NULL
);


ALTER TABLE public.pgmigrations OWNER TO kin;

--
-- Name: pgmigrations_id_seq; Type: SEQUENCE; Schema: public; Owner: kin
--

CREATE SEQUENCE public.pgmigrations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.pgmigrations_id_seq OWNER TO kin;

--
-- Name: pgmigrations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: kin
--

ALTER SEQUENCE public.pgmigrations_id_seq OWNED BY public.pgmigrations.id;


--
-- Name: request_source_types; Type: TABLE; Schema: public; Owner: kin
--

CREATE TABLE public.request_source_types (
    id smallint NOT NULL,
    code text NOT NULL,
    name text NOT NULL
);


ALTER TABLE public.request_source_types OWNER TO kin;

--
-- Name: request_statuses; Type: TABLE; Schema: public; Owner: kin
--

CREATE TABLE public.request_statuses (
    id smallint NOT NULL,
    code text NOT NULL,
    name text NOT NULL
);


ALTER TABLE public.request_statuses OWNER TO kin;

--
-- Name: roles; Type: TABLE; Schema: public; Owner: kin
--

CREATE TABLE public.roles (
    id smallint NOT NULL,
    code text NOT NULL,
    name text NOT NULL,
    description text
);


ALTER TABLE public.roles OWNER TO kin;

--
-- Name: user_access_log; Type: TABLE; Schema: public; Owner: kin
--

CREATE TABLE public.user_access_log (
    user_id uuid,
    email_attempted public.citext,
    event_type_id smallint NOT NULL,
    result_type_id smallint NOT NULL,
    failure_reason text,
    session_token text,
    ip_address inet,
    user_agent text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    revoked_at timestamp with time zone,
    expires_at timestamp with time zone,
    id bigint NOT NULL,
    CONSTRAINT chk_user_access_log_expires_after_created CHECK (((expires_at IS NULL) OR (expires_at > created_at))),
    CONSTRAINT chk_user_access_log_revoked_after_created CHECK (((revoked_at IS NULL) OR (revoked_at >= created_at))),
    CONSTRAINT chk_user_access_log_user_or_email_present CHECK (((user_id IS NOT NULL) OR (email_attempted IS NOT NULL)))
);


ALTER TABLE public.user_access_log OWNER TO kin;

--
-- Name: user_access_log_id_new_seq; Type: SEQUENCE; Schema: public; Owner: kin
--

CREATE SEQUENCE public.user_access_log_id_new_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_access_log_id_new_seq OWNER TO kin;

--
-- Name: user_access_log_id_new_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: kin
--

ALTER SEQUENCE public.user_access_log_id_new_seq OWNED BY public.user_access_log.id;


--
-- Name: user_admin_action_types; Type: TABLE; Schema: public; Owner: kin
--

CREATE TABLE public.user_admin_action_types (
    id smallint NOT NULL,
    code text NOT NULL,
    name text NOT NULL
);


ALTER TABLE public.user_admin_action_types OWNER TO kin;

--
-- Name: user_management_log; Type: TABLE; Schema: public; Owner: kin
--

CREATE TABLE public.user_management_log (
    target_user_id uuid NOT NULL,
    performed_by uuid NOT NULL,
    action_type_id smallint NOT NULL,
    previous_status_id smallint,
    new_status_id smallint,
    previous_role_id smallint,
    new_role_id smallint,
    reason text,
    notes text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    id bigint NOT NULL
);


ALTER TABLE public.user_management_log OWNER TO kin;

--
-- Name: user_management_log_id_new_seq; Type: SEQUENCE; Schema: public; Owner: kin
--

CREATE SEQUENCE public.user_management_log_id_new_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_management_log_id_new_seq OWNER TO kin;

--
-- Name: user_management_log_id_new_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: kin
--

ALTER SEQUENCE public.user_management_log_id_new_seq OWNED BY public.user_management_log.id;


--
-- Name: user_requests; Type: TABLE; Schema: public; Owner: kin
--

CREATE TABLE public.user_requests (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    email public.citext NOT NULL,
    password_hash text NOT NULL,
    name text NOT NULL,
    phone text,
    company text,
    requested_role_id smallint NOT NULL,
    status_id smallint NOT NULL,
    request_source_type_id smallint NOT NULL,
    requested_at timestamp with time zone DEFAULT now() NOT NULL,
    reviewed_at timestamp with time zone,
    reviewed_by uuid,
    rejection_reason text,
    created_user_id uuid,
    CONSTRAINT chk_user_requests_reviewed_at_after_requested_at CHECK (((reviewed_at IS NULL) OR (reviewed_at >= requested_at)))
);


ALTER TABLE public.user_requests OWNER TO kin;

--
-- Name: user_statuses; Type: TABLE; Schema: public; Owner: kin
--

CREATE TABLE public.user_statuses (
    id smallint NOT NULL,
    code text NOT NULL,
    name text NOT NULL
);


ALTER TABLE public.user_statuses OWNER TO kin;

--
-- Name: users; Type: TABLE; Schema: public; Owner: kin
--

CREATE TABLE public.users (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    email public.citext NOT NULL,
    password_hash text NOT NULL,
    name text NOT NULL,
    phone text,
    company text,
    role_id smallint NOT NULL,
    status_id smallint NOT NULL,
    profile_image_url text,
    last_login_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT chk_users_last_login_after_created CHECK (((last_login_at IS NULL) OR (last_login_at >= created_at))),
    CONSTRAINT chk_users_updated_at_after_created CHECK ((updated_at >= created_at))
);


ALTER TABLE public.users OWNER TO kin;

--
-- Name: pgmigrations id; Type: DEFAULT; Schema: public; Owner: kin
--

ALTER TABLE ONLY public.pgmigrations ALTER COLUMN id SET DEFAULT nextval('public.pgmigrations_id_seq'::regclass);


--
-- Name: user_access_log id; Type: DEFAULT; Schema: public; Owner: kin
--

ALTER TABLE ONLY public.user_access_log ALTER COLUMN id SET DEFAULT nextval('public.user_access_log_id_new_seq'::regclass);


--
-- Name: user_management_log id; Type: DEFAULT; Schema: public; Owner: kin
--

ALTER TABLE ONLY public.user_management_log ALTER COLUMN id SET DEFAULT nextval('public.user_management_log_id_new_seq'::regclass);


--
-- Data for Name: access_event_types; Type: TABLE DATA; Schema: public; Owner: kin
--

COPY public.access_event_types (id, code, name) FROM stdin;
1	login_attempt	Intento de inicio de sesi├│n
2	login_success	Inicio de sesi├│n correcto
3	login_failed	Inicio de sesi├│n fallido
4	logout	Cierre de sesi├│n
5	session_revoked	Sesi├│n revocada
6	session_expired	Sesi├│n expirada
\.


--
-- Data for Name: access_result_types; Type: TABLE DATA; Schema: public; Owner: kin
--

COPY public.access_result_types (id, code, name) FROM stdin;
1	success	├ëxito
2	failed	Fallido
3	revoked	Revocado
4	expired	Expirado
\.


--
-- Data for Name: pgmigrations; Type: TABLE DATA; Schema: public; Owner: kin
--

COPY public.pgmigrations (id, name, run_on) FROM stdin;
1	1774214407194_m1-init	2026-03-22 22:02:02.813444
2	1774260195930_migrate-logs-to-bigint	2026-03-23 10:06:15.840344
\.


--
-- Data for Name: request_source_types; Type: TABLE DATA; Schema: public; Owner: kin
--

COPY public.request_source_types (id, code, name) FROM stdin;
1	self_registration	Autoregistro
2	admin_created	Creada por administrador
3	commercial_created	Creada por comercial
\.


--
-- Data for Name: request_statuses; Type: TABLE DATA; Schema: public; Owner: kin
--

COPY public.request_statuses (id, code, name) FROM stdin;
1	pending	Pendiente
2	approved	Aprobada
3	rejected	Rechazada
\.


--
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: kin
--

COPY public.roles (id, code, name, description) FROM stdin;
1	admin	Administrador	Acceso completo al sistema
2	commercial	Comercial	Gesti├│n comercial y operativa
3	client	Cliente	Acceso restringido para clientes
\.


--
-- Data for Name: user_access_log; Type: TABLE DATA; Schema: public; Owner: kin
--

COPY public.user_access_log (user_id, email_attempted, event_type_id, result_type_id, failure_reason, session_token, ip_address, user_agent, created_at, revoked_at, expires_at, id) FROM stdin;
\.


--
-- Data for Name: user_admin_action_types; Type: TABLE DATA; Schema: public; Owner: kin
--

COPY public.user_admin_action_types (id, code, name) FROM stdin;
1	status_change	Cambio de estado
2	role_change	Cambio de rol
3	user_created	Usuario creado
4	user_approved	Usuario aprobado
5	user_rejected	Usuario rechazado
6	password_reset	Restablecimiento de contrase├▒a
7	deactivate_user	Desactivar usuario
\.


--
-- Data for Name: user_management_log; Type: TABLE DATA; Schema: public; Owner: kin
--

COPY public.user_management_log (target_user_id, performed_by, action_type_id, previous_status_id, new_status_id, previous_role_id, new_role_id, reason, notes, created_at, id) FROM stdin;
\.


--
-- Data for Name: user_requests; Type: TABLE DATA; Schema: public; Owner: kin
--

COPY public.user_requests (id, email, password_hash, name, phone, company, requested_role_id, status_id, request_source_type_id, requested_at, reviewed_at, reviewed_by, rejection_reason, created_user_id) FROM stdin;
\.


--
-- Data for Name: user_statuses; Type: TABLE DATA; Schema: public; Owner: kin
--

COPY public.user_statuses (id, code, name) FROM stdin;
1	active	Activo
2	inactive	Inactivo
3	blocked	Bloqueado
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: kin
--



--
-- Name: pgmigrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: kin
--

SELECT pg_catalog.setval('public.pgmigrations_id_seq', 2, true);


--
-- Name: user_access_log_id_new_seq; Type: SEQUENCE SET; Schema: public; Owner: kin
--

SELECT pg_catalog.setval('public.user_access_log_id_new_seq', 1, false);


--
-- Name: user_management_log_id_new_seq; Type: SEQUENCE SET; Schema: public; Owner: kin
--

SELECT pg_catalog.setval('public.user_management_log_id_new_seq', 1, false);


--
-- Name: access_event_types access_event_types_code_key; Type: CONSTRAINT; Schema: public; Owner: kin
--

ALTER TABLE ONLY public.access_event_types
    ADD CONSTRAINT access_event_types_code_key UNIQUE (code);


--
-- Name: access_event_types access_event_types_name_key; Type: CONSTRAINT; Schema: public; Owner: kin
--

ALTER TABLE ONLY public.access_event_types
    ADD CONSTRAINT access_event_types_name_key UNIQUE (name);


--
-- Name: access_event_types access_event_types_pkey; Type: CONSTRAINT; Schema: public; Owner: kin
--

ALTER TABLE ONLY public.access_event_types
    ADD CONSTRAINT access_event_types_pkey PRIMARY KEY (id);


--
-- Name: access_result_types access_result_types_code_key; Type: CONSTRAINT; Schema: public; Owner: kin
--

ALTER TABLE ONLY public.access_result_types
    ADD CONSTRAINT access_result_types_code_key UNIQUE (code);


--
-- Name: access_result_types access_result_types_name_key; Type: CONSTRAINT; Schema: public; Owner: kin
--

ALTER TABLE ONLY public.access_result_types
    ADD CONSTRAINT access_result_types_name_key UNIQUE (name);


--
-- Name: access_result_types access_result_types_pkey; Type: CONSTRAINT; Schema: public; Owner: kin
--

ALTER TABLE ONLY public.access_result_types
    ADD CONSTRAINT access_result_types_pkey PRIMARY KEY (id);


--
-- Name: pgmigrations pgmigrations_pkey; Type: CONSTRAINT; Schema: public; Owner: kin
--

ALTER TABLE ONLY public.pgmigrations
    ADD CONSTRAINT pgmigrations_pkey PRIMARY KEY (id);


--
-- Name: request_source_types request_source_types_code_key; Type: CONSTRAINT; Schema: public; Owner: kin
--

ALTER TABLE ONLY public.request_source_types
    ADD CONSTRAINT request_source_types_code_key UNIQUE (code);


--
-- Name: request_source_types request_source_types_name_key; Type: CONSTRAINT; Schema: public; Owner: kin
--

ALTER TABLE ONLY public.request_source_types
    ADD CONSTRAINT request_source_types_name_key UNIQUE (name);


--
-- Name: request_source_types request_source_types_pkey; Type: CONSTRAINT; Schema: public; Owner: kin
--

ALTER TABLE ONLY public.request_source_types
    ADD CONSTRAINT request_source_types_pkey PRIMARY KEY (id);


--
-- Name: request_statuses request_statuses_code_key; Type: CONSTRAINT; Schema: public; Owner: kin
--

ALTER TABLE ONLY public.request_statuses
    ADD CONSTRAINT request_statuses_code_key UNIQUE (code);


--
-- Name: request_statuses request_statuses_name_key; Type: CONSTRAINT; Schema: public; Owner: kin
--

ALTER TABLE ONLY public.request_statuses
    ADD CONSTRAINT request_statuses_name_key UNIQUE (name);


--
-- Name: request_statuses request_statuses_pkey; Type: CONSTRAINT; Schema: public; Owner: kin
--

ALTER TABLE ONLY public.request_statuses
    ADD CONSTRAINT request_statuses_pkey PRIMARY KEY (id);


--
-- Name: roles roles_code_key; Type: CONSTRAINT; Schema: public; Owner: kin
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_code_key UNIQUE (code);


--
-- Name: roles roles_name_key; Type: CONSTRAINT; Schema: public; Owner: kin
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_name_key UNIQUE (name);


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: public; Owner: kin
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (id);


--
-- Name: user_access_log user_access_log_pkey; Type: CONSTRAINT; Schema: public; Owner: kin
--

ALTER TABLE ONLY public.user_access_log
    ADD CONSTRAINT user_access_log_pkey PRIMARY KEY (id);


--
-- Name: user_admin_action_types user_admin_action_types_code_key; Type: CONSTRAINT; Schema: public; Owner: kin
--

ALTER TABLE ONLY public.user_admin_action_types
    ADD CONSTRAINT user_admin_action_types_code_key UNIQUE (code);


--
-- Name: user_admin_action_types user_admin_action_types_name_key; Type: CONSTRAINT; Schema: public; Owner: kin
--

ALTER TABLE ONLY public.user_admin_action_types
    ADD CONSTRAINT user_admin_action_types_name_key UNIQUE (name);


--
-- Name: user_admin_action_types user_admin_action_types_pkey; Type: CONSTRAINT; Schema: public; Owner: kin
--

ALTER TABLE ONLY public.user_admin_action_types
    ADD CONSTRAINT user_admin_action_types_pkey PRIMARY KEY (id);


--
-- Name: user_management_log user_management_log_pkey; Type: CONSTRAINT; Schema: public; Owner: kin
--

ALTER TABLE ONLY public.user_management_log
    ADD CONSTRAINT user_management_log_pkey PRIMARY KEY (id);


--
-- Name: user_requests user_requests_pkey; Type: CONSTRAINT; Schema: public; Owner: kin
--

ALTER TABLE ONLY public.user_requests
    ADD CONSTRAINT user_requests_pkey PRIMARY KEY (id);


--
-- Name: user_statuses user_statuses_code_key; Type: CONSTRAINT; Schema: public; Owner: kin
--

ALTER TABLE ONLY public.user_statuses
    ADD CONSTRAINT user_statuses_code_key UNIQUE (code);


--
-- Name: user_statuses user_statuses_name_key; Type: CONSTRAINT; Schema: public; Owner: kin
--

ALTER TABLE ONLY public.user_statuses
    ADD CONSTRAINT user_statuses_name_key UNIQUE (name);


--
-- Name: user_statuses user_statuses_pkey; Type: CONSTRAINT; Schema: public; Owner: kin
--

ALTER TABLE ONLY public.user_statuses
    ADD CONSTRAINT user_statuses_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: kin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: kin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: user_access_log_created_at_index; Type: INDEX; Schema: public; Owner: kin
--

CREATE INDEX user_access_log_created_at_index ON public.user_access_log USING btree (created_at);


--
-- Name: user_access_log_email_attempted_index; Type: INDEX; Schema: public; Owner: kin
--

CREATE INDEX user_access_log_email_attempted_index ON public.user_access_log USING btree (email_attempted);


--
-- Name: user_access_log_event_type_id_index; Type: INDEX; Schema: public; Owner: kin
--

CREATE INDEX user_access_log_event_type_id_index ON public.user_access_log USING btree (event_type_id);


--
-- Name: user_access_log_result_type_id_index; Type: INDEX; Schema: public; Owner: kin
--

CREATE INDEX user_access_log_result_type_id_index ON public.user_access_log USING btree (result_type_id);


--
-- Name: user_access_log_session_token_index; Type: INDEX; Schema: public; Owner: kin
--

CREATE INDEX user_access_log_session_token_index ON public.user_access_log USING btree (session_token);


--
-- Name: user_access_log_user_id_index; Type: INDEX; Schema: public; Owner: kin
--

CREATE INDEX user_access_log_user_id_index ON public.user_access_log USING btree (user_id);


--
-- Name: user_management_log_action_type_id_index; Type: INDEX; Schema: public; Owner: kin
--

CREATE INDEX user_management_log_action_type_id_index ON public.user_management_log USING btree (action_type_id);


--
-- Name: user_management_log_created_at_index; Type: INDEX; Schema: public; Owner: kin
--

CREATE INDEX user_management_log_created_at_index ON public.user_management_log USING btree (created_at);


--
-- Name: user_management_log_performed_by_index; Type: INDEX; Schema: public; Owner: kin
--

CREATE INDEX user_management_log_performed_by_index ON public.user_management_log USING btree (performed_by);


--
-- Name: user_management_log_target_user_id_index; Type: INDEX; Schema: public; Owner: kin
--

CREATE INDEX user_management_log_target_user_id_index ON public.user_management_log USING btree (target_user_id);


--
-- Name: user_requests_created_user_id_index; Type: INDEX; Schema: public; Owner: kin
--

CREATE INDEX user_requests_created_user_id_index ON public.user_requests USING btree (created_user_id);


--
-- Name: user_requests_email_index; Type: INDEX; Schema: public; Owner: kin
--

CREATE INDEX user_requests_email_index ON public.user_requests USING btree (email);


--
-- Name: user_requests_request_source_type_id_index; Type: INDEX; Schema: public; Owner: kin
--

CREATE INDEX user_requests_request_source_type_id_index ON public.user_requests USING btree (request_source_type_id);


--
-- Name: user_requests_requested_role_id_index; Type: INDEX; Schema: public; Owner: kin
--

CREATE INDEX user_requests_requested_role_id_index ON public.user_requests USING btree (requested_role_id);


--
-- Name: user_requests_reviewed_by_index; Type: INDEX; Schema: public; Owner: kin
--

CREATE INDEX user_requests_reviewed_by_index ON public.user_requests USING btree (reviewed_by);


--
-- Name: user_requests_status_id_index; Type: INDEX; Schema: public; Owner: kin
--

CREATE INDEX user_requests_status_id_index ON public.user_requests USING btree (status_id);


--
-- Name: users_role_id_index; Type: INDEX; Schema: public; Owner: kin
--

CREATE INDEX users_role_id_index ON public.users USING btree (role_id);


--
-- Name: users_status_id_index; Type: INDEX; Schema: public; Owner: kin
--

CREATE INDEX users_status_id_index ON public.users USING btree (status_id);


--
-- Name: user_access_log user_access_log_event_type_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kin
--

ALTER TABLE ONLY public.user_access_log
    ADD CONSTRAINT user_access_log_event_type_id_fkey FOREIGN KEY (event_type_id) REFERENCES public.access_event_types(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: user_access_log user_access_log_result_type_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kin
--

ALTER TABLE ONLY public.user_access_log
    ADD CONSTRAINT user_access_log_result_type_id_fkey FOREIGN KEY (result_type_id) REFERENCES public.access_result_types(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: user_access_log user_access_log_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kin
--

ALTER TABLE ONLY public.user_access_log
    ADD CONSTRAINT user_access_log_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: user_management_log user_management_log_action_type_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kin
--

ALTER TABLE ONLY public.user_management_log
    ADD CONSTRAINT user_management_log_action_type_id_fkey FOREIGN KEY (action_type_id) REFERENCES public.user_admin_action_types(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: user_management_log user_management_log_new_role_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kin
--

ALTER TABLE ONLY public.user_management_log
    ADD CONSTRAINT user_management_log_new_role_id_fkey FOREIGN KEY (new_role_id) REFERENCES public.roles(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: user_management_log user_management_log_new_status_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kin
--

ALTER TABLE ONLY public.user_management_log
    ADD CONSTRAINT user_management_log_new_status_id_fkey FOREIGN KEY (new_status_id) REFERENCES public.user_statuses(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: user_management_log user_management_log_performed_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kin
--

ALTER TABLE ONLY public.user_management_log
    ADD CONSTRAINT user_management_log_performed_by_fkey FOREIGN KEY (performed_by) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: user_management_log user_management_log_previous_role_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kin
--

ALTER TABLE ONLY public.user_management_log
    ADD CONSTRAINT user_management_log_previous_role_id_fkey FOREIGN KEY (previous_role_id) REFERENCES public.roles(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: user_management_log user_management_log_previous_status_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kin
--

ALTER TABLE ONLY public.user_management_log
    ADD CONSTRAINT user_management_log_previous_status_id_fkey FOREIGN KEY (previous_status_id) REFERENCES public.user_statuses(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: user_management_log user_management_log_target_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kin
--

ALTER TABLE ONLY public.user_management_log
    ADD CONSTRAINT user_management_log_target_user_id_fkey FOREIGN KEY (target_user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: user_requests user_requests_created_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kin
--

ALTER TABLE ONLY public.user_requests
    ADD CONSTRAINT user_requests_created_user_id_fkey FOREIGN KEY (created_user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: user_requests user_requests_request_source_type_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kin
--

ALTER TABLE ONLY public.user_requests
    ADD CONSTRAINT user_requests_request_source_type_id_fkey FOREIGN KEY (request_source_type_id) REFERENCES public.request_source_types(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: user_requests user_requests_requested_role_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kin
--

ALTER TABLE ONLY public.user_requests
    ADD CONSTRAINT user_requests_requested_role_id_fkey FOREIGN KEY (requested_role_id) REFERENCES public.roles(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: user_requests user_requests_reviewed_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kin
--

ALTER TABLE ONLY public.user_requests
    ADD CONSTRAINT user_requests_reviewed_by_fkey FOREIGN KEY (reviewed_by) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: user_requests user_requests_status_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kin
--

ALTER TABLE ONLY public.user_requests
    ADD CONSTRAINT user_requests_status_id_fkey FOREIGN KEY (status_id) REFERENCES public.request_statuses(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: users users_role_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_role_id_fkey FOREIGN KEY (role_id) REFERENCES public.roles(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: users users_status_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_status_id_fkey FOREIGN KEY (status_id) REFERENCES public.user_statuses(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- PostgreSQL database dump complete
--

\unrestrict hGjBFbUWqat1AVYRNc1xOwuOJPXv17VtINSAWAJksejEg2B8isvYdjeMo1FakKL

